<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs")%>
  <body>
    <!-- <%- include("./partials/navigationBar.ejs")%> -->
    <main>
      <h2 class="small_header">Welcome</h2>
      <h1 class="h1">The Vamos API.</h1>
      <a href="/api-docs">
        <button>Goto API Documentation</button>
      </a>
    </main>
  </body>
</html>
