<!DOCTYPE html>
<html lang="en">
  <%- include("./head.ejs")%>
  <body>
    <header><h1 class="header">Vamos api</h1></header>
    <main>
      <a href="/">
        <button>go to home</button>
      </a>
    </main>
  </body>
</html>
